.chat-panel {
  background-color: #282828;
  box-sizing: border-box;
  border-left: 1px solid #303030;

  .listener-list {
    overflow: auto;
    width: 100%;

    .listeners {
      margin: 0;
      padding: 0;
      display: block;
      height: 200px;
      width: 100%;
      overflow: auto;

      li.listener {
        list-style-type: none;
        color: white;
        height: 50px;
        border-bottom: 1px solid #303030;
        box-sizing: border-box;
        display: block;

        & > * {
          display: inline-block;
          line-height: 50px;
        }

        .listener-icon {
          font-size: 20px;
          width: 50px;
          float: left;
          text-align: center;
          margin-top: -1px;
        }

        .listener-name {
          float: left;
        }

        .listener-action {
          background-color: #323232;
          text-align: center;
          width: 50px;
          float: right;
          
          .fa{
            font-size: 20px;
          }
          
          &:hover {
            background-color: #4B7D5C;
          }
        }
      }
    }
  }
  .song-chat-section {
    position: fixed;
    width: 100%;
    bottom: 0;

    .chat-area {
      height: 300px;
      background: transparent;
      overflow: auto;
      margin-bottom: 5px;

      ul.chatMessages {
        padding: 0;
        margin: 0;

        li.message {
          list-style-type: none;
          display: block;
          border-radius: 10px;
          padding: 0 10px;
          margin: 0 20px 5px 20px;

          .message-header {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 8px;
            color: black;
          }

          .message-content {
            color: black;
          }

          &.self-message {
            background-color: white;

            &::after {
              top: -30px;
              left: -20px;
              bottom: auto;
              border-width: 17px 20px 0 0;
              border-color: transparent white;
            }
          }

          &::after {
            content: "";
            position: relative;
            border-style: solid;
            display: block;
            width: 0;
          }

          &.other-message {
            text-align: right;
            background-color: #4B7D5C;
            > * {
              color: white;
            }

            &::after {
              top: -30px;
              left: 100%;
              bottom: auto;
              border-width: 17px 0 0 20px;
              border-color: transparent #4B7D5C;
            }
          }
        }
      }
    }

    .chat-input{
      margin: 0 20px 7px;
      .tf-chat {
        width: 80%;
        color: black;
        height:50px;
        line-height: 50px;
        border: none;
        background-color: #FFFFFF;
        padding-left: 20px;

        &:focus {
          outline: none!important;
        }
      }

      .btn-send {
        width: 20%;
        float:right;
        overflow:hidden;
        background-color: #4B7D5C;
        color: #F5F5F5;
        height: 50px;
        line-height: 50px;
        border: none;
      }
    }
  }
}