.navigation {
  height: 50px;
  background: #282828;
  width: 100%;
  border-bottom: 1px solid #313131;
  box-sizing: border-box;

  & > * {
    height: 100%;
  }

  .username {
    color: black;
    font-size: 18px;
    border-left: 1px solid #313131;
    box-sizing: border-box;

    & > * {
      display: inline;
    }

    label {
      line-height: 50px;
      color: white;
      font-weight: normal;
    }

    .username-label{
      cursor: text;
    }
  }
}