.side-nav {
  margin: 0;
  padding: 0;
  background: #282828;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;

  ul.vertical-nav {
    margin: 0;
    padding: 0;
    li {
      height: 100px;
      display: block;
      line-height: 115px;
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 1px solid #313131;
      border-right: 1px solid #313131;

      &:first-child {
        border-top: 1px solid #313131;
      }

      span {
        font-size: 30px;
        color: white;
      }

      &:hover {
        background: #655C8B;
        border: none;
      }
    }
  }
}